# Network RPC URLs
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# Deployment
DEPLOYER_ADDRESS=xxxx
PRIVATE_KEY=xxxx

# Verification
ARBISCAN_SEPOLIA_URL=https://api-sepolia.arbiscan.io/api
ARBISCAN_API_KEY=xxxx
